/* line 3, ../sass/components/_dropdown.scss */
.cart {
  background-image: url("../images/flag1.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* line 4, ../sass/layout/_navigation.scss */
.navbar-top-header, .navbar-bottom-header {
  background-color: #d3d8e4;
}
/* line 6, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-brand, .navbar-bottom-header .navbar-brand {
  color: #fafafa;
}
/* line 8, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-brand:hover, .navbar-bottom-header .navbar-brand:hover, .navbar-top-header .navbar-brand:focus, .navbar-bottom-header .navbar-brand:focus {
  color: #a09aa5;
  background-color: #bd1c47;
}
/* line 12, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-text, .navbar-bottom-header .navbar-text {
  color: #d3d8e4;
}
/* line 17, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-nav > li > a, .navbar-bottom-header .navbar-nav > li > a {
  color: #fafafa;
}
/* line 19, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-nav > li > a:hover, .navbar-bottom-header .navbar-nav > li > a:hover, .navbar-top-header .navbar-nav > li > a:focus, .navbar-bottom-header .navbar-nav > li > a:focus {
  color: #a09aa5;
}
/* line 22, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-nav > li > .dropdown-menu, .navbar-bottom-header .navbar-nav > li > .dropdown-menu {
  background-color: #d3d8e4;
}
/* line 25, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-nav > li > .dropdown-menu > li > a, .navbar-bottom-header .navbar-nav > li > .dropdown-menu > li > a {
  color: #fafafa;
}
/* line 27, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-bottom-header .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-top-header .navbar-nav > li > .dropdown-menu > li > a:focus, .navbar-bottom-header .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #a09aa5;
  background-color: #bd1c47;
}
/* line 33, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-nav .open .dropdown-menu > .active > a, .navbar-bottom-header .navbar-nav .open .dropdown-menu > .active > a, .navbar-top-header .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-bottom-header .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-top-header .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-bottom-header .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #a09aa5;
  background-color: #bd1c47;
}
/* line 37, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-nav > .active > a, .navbar-bottom-header .navbar-nav > .active > a, .navbar-top-header .navbar-nav > .active > a:hover, .navbar-bottom-header .navbar-nav > .active > a:hover, .navbar-top-header .navbar-nav > .active > a:focus, .navbar-bottom-header .navbar-nav > .active > a:focus {
  color: #a09aa5;
  background-color: #bd1c47;
}
/* line 41, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-nav > .open > a, .navbar-bottom-header .navbar-nav > .open > a, .navbar-top-header .navbar-nav > .open > a:hover, .navbar-bottom-header .navbar-nav > .open > a:hover, .navbar-top-header .navbar-nav > .open > a:focus, .navbar-bottom-header .navbar-nav > .open > a:focus {
  color: #a09aa5;
  background-color: #bd1c47;
}
/* line 44, ../sass/layout/_navigation.scss */
.navbar-top-header .nav .caret, .navbar-bottom-header .nav .caret {
  border-top-color: #fafafa;
  border-bottom-color: #fafafa;
}
/* line 48, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-toggle, .navbar-bottom-header .navbar-toggle {
  border-color: #bd1c47;
}
/* line 50, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-toggle:hover, .navbar-bottom-header .navbar-toggle:hover, .navbar-top-header .navbar-toggle:focus, .navbar-bottom-header .navbar-toggle:focus {
  background-color: #bd1c47;
}
/* line 52, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-toggle .icon-bar, .navbar-bottom-header .navbar-toggle .icon-bar {
  background-color: #fafafa;
}
/* line 55, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-collapse, .navbar-bottom-header .navbar-collapse,
.navbar-top-header .navbar-form,
.navbar-bottom-header .navbar-form {
  border-color: #fafafa;
}
/* line 57, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-link, .navbar-bottom-header .navbar-link {
  color: #fafafa;
}
/* line 59, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-link:hover, .navbar-bottom-header .navbar-link:hover {
  color: #a09aa5;
}

@media (max-width: 767px) {
  /* line 70, ../sass/layout/_navigation.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fafafa;
  }
  /* line 72, ../sass/layout/_navigation.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #a09aa5;
  }
  /* line 75, ../sass/layout/_navigation.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #a09aa5;
    background-color: #bd1c47;
  }
}
