/* line 1, ../sass/components/_banners.scss */
.opentime {
  margin-top: 25px;
}

/* line 6, ../sass/components/_banners.scss */
.time {
  float: left;
}

/* line 10, ../sass/components/_banners.scss */
.banner {
  padding: 50px;
}

@media (max-width: 767px) {
  /* line 16, ../sass/components/_banners.scss */
  .opening .img-logo, .top-search {
    padding: 20px;
    margin-top: 25px;
  }
}
/* line 21, ../sass/components/_banners.scss */
.banner {
  padding: 20px;
}

/* line 25, ../sass/components/_banners.scss */
.banner-twins {
  margin: 5% 0;
}

/* line 4, ../sass/components/_dropdown.scss */
.flag {
  background-image: url("../images/flag1.png");
  background-position: 5%;
  background-repeat: no-repeat;
  padding-right: 30px;
}

/* line 4, ../sass/layout/_navigation.scss */
.navbar-top-header, .navbar-bottom-header {
  background-color: whitesmoke;
}
/* line 8, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-nav > li > a, .navbar-bottom-header .navbar-nav > li > a {
  color: #666666;
}
/* line 10, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-nav > li > a:hover, .navbar-bottom-header .navbar-nav > li > a:hover, .navbar-top-header .navbar-nav > li > a:focus, .navbar-bottom-header .navbar-nav > li > a:focus {
  color: #e48080;
}
/* line 15, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-nav > li > .dropdown-menu, .navbar-bottom-header .navbar-nav > li > .dropdown-menu {
  background-color: whitesmoke;
}
/* line 18, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-nav > li > .dropdown-menu > li > a, .navbar-bottom-header .navbar-nav > li > .dropdown-menu > li > a {
  font-size: 12px;
  color: #666666;
}
/* line 21, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-bottom-header .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-top-header .navbar-nav > li > .dropdown-menu > li > a:focus, .navbar-bottom-header .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #e48080;
  background-color: #e48080;
}
/* line 32, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-nav .open .dropdown-menu > .active > a, .navbar-bottom-header .navbar-nav .open .dropdown-menu > .active > a, .navbar-top-header .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-bottom-header .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-top-header .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-bottom-header .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #666666;
  background-color: #e48080;
}
/* line 39, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-nav > .active > a, .navbar-bottom-header .navbar-nav > .active > a, .navbar-top-header .navbar-nav > .active > a:hover, .navbar-bottom-header .navbar-nav > .active > a:hover, .navbar-top-header .navbar-nav > .active > a:focus, .navbar-bottom-header .navbar-nav > .active > a:focus {
  color: #666666;
  background-color: #e48080;
}
/* line 44, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-nav > .open > a, .navbar-bottom-header .navbar-nav > .open > a, .navbar-top-header .navbar-nav > .open > a:hover, .navbar-bottom-header .navbar-nav > .open > a:hover, .navbar-top-header .navbar-nav > .open > a:focus, .navbar-bottom-header .navbar-nav > .open > a:focus {
  color: #666666;
  background-color: #e48080;
}
/* line 50, ../sass/layout/_navigation.scss */
.navbar-top-header .nav .caret, .navbar-bottom-header .nav .caret {
  border-top-color: #cccccc;
  border-bottom-color: #cccccc;
}
/* line 54, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-toggle, .navbar-bottom-header .navbar-toggle {
  border-color: #e48080;
}
/* line 56, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-toggle:hover, .navbar-bottom-header .navbar-toggle:hover, .navbar-top-header .navbar-toggle:focus, .navbar-bottom-header .navbar-toggle:focus {
  background-color: #e48080;
}
/* line 58, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-toggle .icon-bar, .navbar-bottom-header .navbar-toggle .icon-bar {
  background-color: #e48080;
}
/* line 60, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-collapse, .navbar-bottom-header .navbar-collapse {
  border-color: #cccccc;
}
/* line 62, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-link, .navbar-bottom-header .navbar-link {
  color: #cccccc;
}
/* line 64, ../sass/layout/_navigation.scss */
.navbar-top-header .navbar-link:hover, .navbar-bottom-header .navbar-link:hover {
  color: #666666;
}

/* line 73, ../sass/layout/_navigation.scss */
.navbar-bottom-header a {
  font-size: 15px;
  color: #666666;
}
/* line 76, ../sass/layout/_navigation.scss */
.navbar-bottom-header a:hover, .navbar-bottom-header a:focus {
  color: whitesmoke;
  background-color: #e48080;
}

@media (max-width: 767px) {
  /* line 85, ../sass/layout/_navigation.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #cccccc;
  }
  /* line 87, ../sass/layout/_navigation.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: whitesmoke;
  }
  /* line 90, ../sass/layout/_navigation.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #666666;
    background-color: #e48080;
  }
}
/* line 1, ../sass/layout/_footer.scss */
footer {
  background-color: whitesmoke;
  color: #666666;
}
/* line 4, ../sass/layout/_footer.scss */
footer input {
  border-color: 1px solid whitesmoke;
  border-radius: 5px;
}

/* line 13, ../sass/layout/_footer.scss */
.social-media li {
  display: inline-block;
}
/* line 16, ../sass/layout/_footer.scss */
.social-media li i {
  width: 40px;
  line-height: 40px;
  text-align: center;
  background: white;
  padding: 0;
  position: relative;
}
/* line 11, ../sass/utilidades/_mixins.scss */
.social-media li i:hover, .social-media li i:focus {
  color: white;
  background-color: #e48080;
}

/* line 27, ../sass/layout/_footer.scss */
.top-footer {
  padding: 30px 0;
}
/* line 30, ../sass/layout/_footer.scss */
.top-footer .block-footer ul {
  padding-left: 0;
}
/* line 33, ../sass/layout/_footer.scss */
.top-footer .block-footer ul li a {
  color: #666666;
}
/* line 35, ../sass/layout/_footer.scss */
.top-footer .block-footer ul li a:hover, .top-footer .block-footer ul li a:focus {
  color: #e48080;
}
/* line 39, ../sass/layout/_footer.scss */
.top-footer .block-footer i {
  width: 40px;
  line-height: 35px;
  text-align: center;
  background: white;
}

/* line 47, ../sass/layout/_footer.scss */
.bottom-footer {
  background-color: #414141;
  color: whitesmoke;
  padding-top: 1%;
}

/* line 1, ../sass/layout/_forms.scss */
.search-icon {
  position: absolute;
  display: inline-block;
}
