@import 'utilidades/_variables';
@import 'utilidades/_mixins';

.navbar-top-header {
    background-color: $whitesmoked;
  .navbar-nav {
    > li {
      > a {
        color: $darkgray;
        &:hover,  &:focus {
          color: $orangered; 
          }
        }
      @if $dropDown {
        > .dropdown-menu {
          background-color: $whitesmoked;
          > li {
            > a {
              font-size: 12px;
              color: $darkgray;
              &:hover,  &:focus {
                color: $orangered;
                background-color: $orangered; }
                }
              }
            }
          }
        }

    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $darkgray;
          background-color: $orangered; 
          }
        }
      }
        > .active {
        > a, > a:hover, > a:focus {
          color: $darkgray;
          background-color: $orangered; }
        }
        > .open {
        > a, > a:hover, > a:focus {
          color: $darkgray;
          background-color: $orangered; 
          }
        }
      }
  .nav .caret {
    border-top-color: $humo;
    border-bottom-color: $humo;
    }
  .navbar-toggle {
    border-color: $orangered;
    &:hover, &:focus {
      background-color: $orangered; }
    .icon-bar {
      background-color: $orangered; }}
    .navbar-collapse {
      border-color: $humo; }
    .navbar-link {
      color: $humo;
    &:hover {
      color: $darkgray; }
        }
      }//termina navbar-topheader
.navbar-bottom-header {
  @extend .navbar-top-header
}

.navbar-bottom-header {
  a {
  font-size: 15px;
  color: $darkgray;
  &:hover,  &:focus {
    color: $whitesmoked;
    background-color: $orangered;
      }
    }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $humo;
      &:hover, &:focus {
        color: $whitesmoked; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $darkgray;
        background-color: $orangered; }}}
}